<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/order_page_template.css">
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <title>Pizza Shack</title>
</head>

<body>
  <%- include('partials/_status_header') %>
  <div>
    <h3>Your Order</h3>
    <article class="cart-items">
      <span id="pizza-list" data-pizzas="<%= pizzas.map((p) => p.name).join(',') %>"></span>
      <% for( let pizza of pizzas) { %>
      <div id="pizza-<%= pizza.name.replace(' ', '-').toLowerCase() %>" class="one-pizza <%= pizza.quantity ? '' : 'zero-pizza' %>" >
        <h2> <%= pizza.name %> </h2>
        <h4>Quantity</h4>
        <img src="<%=pizza.image_url %>">
        <div class="pizza-details">
          <form method="POST" id="cart-update-<%= pizza.name.replace(' ', '-').toLowerCase() %>">
            <h5>Ingredients: <%= pizza.ingredients%></h5>
            <h5>Price: $<%= pizza.price %></h5>

            <label for="pizzaQuantity" id="quantity-<%= pizza.name.replace(' ', '-').toLowerCase() %>">Quantity 0
            </label>
            <input id="quantity-input-<%= pizza.name.replace(' ', '-').toLowerCase() %>" type="text" name="quantity"
              class="form-control" >

            <div>
              <input type="hidden" name="pizzaName" value="<%= pizza.name %>" />
              <button type="submit" class="btn btn-primary">Update Quantity</button>
            </div>
          </form>
          <form method="POST" id="cart-delete-<%= pizza.name.replace(' ', '-').toLowerCase() %>">
            <input type="hidden" style="display: none" name="pizzaName" value="<%= pizza.name %>" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </article>
    <img src="https://picsum.photos/100">

    <div>
      <button type="button" class="btn btn-warning">Add Your Details Here</button>
    </div>

    <div>
      <form method="POST" id="submit-order">
        <div class="form-group">
          <label for="exampleInputPhone">Contact Number </label>
          <input id="phoneNumber" type="phoneNumber" name="customerPhone" class="form-control"
            placeholder="Enter Phone Number">
          <small id="privacy message" class="form-text text-muted">
            We'll never share your phone number with anyone
            else.... We promise</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input id="customerName" type="text" name="customerName" class="form-control"
            placeholder="First Name and Last Inital">
        </div>

        <button type="submit" class="btn btn-info">Place Order</button>
      </form>
    </div>




  </div>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/cart.js"></script>
</body>


</html>
