<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div>
    <h3>Your Order</h3>
    <article>
      <% for( let pizza of pizzas) { %>

      <h2> <%= pizza.name %> </h2>
      <h4>Quantity</h4>
      <img src=<%=pizza.image_url %>>
      <div>
        <form method="POST" id="cart-update">
          <h5>Ingredients:<%= pizza.ingredients%></h5>
          <h5>Price: $<%= pizza.price %></h5>
          <h5>Approx time of delivery</h5>
          <label for="pizzaQuantity">Quantity <%= cart[pizza.name] %> </label>
          <input type="text" name="quantity" class="form-control" placeholder=" <%= cart[pizza.name] %> ">

          <div>
            <input type="hidden" name="pizzaName" value="<%= pizza.name %>" />
            <button type="submit" class="btn btn-primary">Update Quantity</button>
          </div>
        </form>
        <div>
          <button type="submit" method="POST" action="/delete" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <% } %>
    </article>
    <img src="https://picsum.photos/100">

    <div>
      <button type="button" class="btn btn-warning">Add Your Details Here</button>
    </div>

    <div>
      <form method="POST" action="/order">
        <div class="form-group">
          <label for="exampleInputPhone">Contact Number </label>
          <input type="phoneNumber" class="form-control" placeholder="Enter Phone Number">
          <small id="privacy message" class="form-text text-muted">
            We'll never share your phone number with anyone
            else.... We promise</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="name" class="form-control" placeholder="First Name and Last Inital">
        </div>

        <button type="submit" class="btn btn-info">Place Order</button>
      </form>
    </div>




  </div>

</body>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

<script>

  $(document).ready(() => {
    $('#cart-update').on('submit', (e) => {
      e.preventDefault();
      console.log({ e });
    });
  })

</script>

</html>
