<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/order_status.css" type="text/css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Status Page</title>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_status_header') %>
    <main style="margin: 1em;">
      <h1>Your Order</h1>
        <article>
          <% for(let orderList of orderLists) { %>
            <% if(orderList.quantity) { %>
              <div>
                <tr>
                  <td><img src=<%= orderList.image_url %> alt='image here'></td>
                  <ul>
                    <li>Total: $<%= orderList.quantity*orderList.price %></li>
                    <li><%= orderList.name %> x <%= orderList.quantity %> ($<%= orderList.price %> each)</li>
                    <li><%= orderList.ingredients %></li>
                  </ul>
                </tr>
              </div>
            <% } %>
          <% } %>
      </article>
      <form method="POST" action="/status">
        <button type="hidden" class="btn btn-info"></button>
      </form>
      <h1>Your Order Status: <%= orderLists[0].order_status %></h1>
      <h1>Estimated Total Time: <%= minutes %> minutes</h1>
    </main>
    <script language="JavaScript" type="text/javascript">
      setTimeout("location.reload()",10000); // milliseconds, so 10 seconds = 10000ms
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
