<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div>
    <h3>Your Order</h3>
    <article>
      <span id="pizza-list" data-pizzas="<%= pizzas.map((p) => p.name).join(',') %>"></span>
      <% for( let pizza of pizzas) { %>

      <h2> <%= pizza.name %> </h2>
      <h4>Quantity</h4>
      <img src="<%=pizza.image_url %>">
      <div>
        <form method="POST" id="cart-update-<%= pizza.name.replace(' ', '-').toLowerCase() %>">
          <h5>Ingredients: <%= pizza.ingredients%></h5>
          <h5>Price: $<%= pizza.price %></h5>
          <h5>Approx time of delivery</h5>
          <label for="pizzaQuantity" id="quantity-<%= pizza.name.replace(' ', '-').toLowerCase() %>">Quantity 0 </label>
          <input id="quantity-input-<%= pizza.name.replace(' ', '-').toLowerCase() %>" type="text" name="quantity"
            class="form-control">

          <div>
            <input type="hidden" name="pizzaName" value="<%= pizza.name %>" />
            <button type="submit" class="btn btn-primary">Update Quantity</button>
          </div>
        </form>
        <form method="POST" id="cart-delete-<%= pizza.name.replace(' ', '-').toLowerCase() %>">
          <input type="hidden" style="display: none" name="pizzaName" value="<%= pizza.name %>" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
    </article>
    <img src="https://picsum.photos/100">

    <div>
      <button type="button" class="btn btn-warning">Add Your Details Here</button>
    </div>

    <div>
      <form method="POST" id="submit-order">
        <div class="form-group">
          <label for="exampleInputPhone">Contact Number </label>
          <input id="phoneNumber" type="phoneNumber" name="customerPhone" class="form-control" placeholder="Enter Phone Number">
          <small id="privacy message" class="form-text text-muted">
            We'll never share your phone number with anyone
            else.... We promise</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" >Name</label>
          <input id="customerName" type="text" name="customerName" class="form-control" placeholder="First Name and Last Inital">
        </div>

        <button type="submit" class="btn btn-info">Place Order</button>
      </form>
    </div>




  </div>

</body>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

<script>
  $(document).ready(() => {
    function slugify(str) {
      return str.replace(' ', '-').toLowerCase();
    }

    function updateCartState() {
      Object.entries(window.userCart).forEach(([pizzaName, quantity]) => {
        const slugName = slugify(pizzaName);
        const quantityLabel = $(`#quantity-${slugName}`);
        const quantityInput = $(`#quantity-input-${slugName}`);
        quantityLabel.text(`Quantity ${quantity}`);
        quantityInput.val(quantity);
      })
    }

    function attachFormListeners() {
      const pizzaListSpan = $('#pizza-list');
      const pizzaList = pizzaListSpan.data('pizzas');
      pizzaList.split(',').forEach((name) => {
        const slugName = slugify(name);
        $(`#cart-update-${slugName}`).on('submit', updateCart);
      });
    }
    //nick
    function attachFormListenersDelete() {
      const pizzaListSpan = $('#pizza-list');
      const pizzaList = pizzaListSpan.data('pizzas');
      pizzaList.split(',').forEach((name) => {
        const slugName = slugify(name);
        $(`#cart-delete-${slugName}`).on('submit', deleteItem);
      });
    }


    function updateCart(e) {
      e.preventDefault();
      const formData = new FormData(e.target);
      console.log(formData, "formData in update cart")
      const quantity = formData.get('quantity');
      const pizzaName = formData.get('pizzaName');
      console.log({ quantity, pizzaName })
      window.setCart(pizzaName, quantity);
      console.log('Current cart:', window.userCart);
      updateCartState();
    }

    $('#submit-order').on('submit', (e) => {
      e.preventDefault();

      const orderObject = {
        name: document.getElementById('customerName').value, // use real data
        contactNumber: document.getElementById('phoneNumber').value, // use real data
        cart: window.userCart
      };

      console.log('submit order', { orderObject });

      $.ajax('/order', {
        method: 'POST',
        data: orderObject
      })
      .then(res => {
          window.location.href=`/order/${res.order}`;
      });

      // clear cart
      window.clearCart();
    });

    // nick current
    function deleteItem(e){
      e.preventDefault();
      console.log(e, "event")
      const formData = new FormData(e.target);
      console.log(formData, "form data")
      //const quantity = formData.get('quantity');
      //const quantity = 0;
      const pizzaName = formData.get('pizzaName');
      console.log({ pizzaName },"delete item")
      window.deleteItem(pizzaName);
      console.log('Current cart:', window.userCart);
      updateCartState();
    }

    // onload
    attachFormListeners();
    attachFormListenersDelete();
    updateCartState();
  });
</script>

</html>
